
.subsubsub {
	width: calc( 100% - 270px );
}

.jetpack-module {
	width: 275px;
	padding: 15px;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.2 );
	background: #fff;
	border: 0;
	border-top: .75em solid #ddd;
	height: 200px;
}

.jetpack-module.active {
	border-top-color: #0a0;
	padding-top: 15px; // MP6 responsive styles are way too vague.
}

.jetpack-module.unavailable {
	border-top-color: #fff;
	opacity: 0.5;
}

.jetpack-module .icon {
	width: auto;
	padding: 0;
	margin: 0 0 1em 1em;
	float: right;
}

.jetpack-module .module-image {
	border-radius: 3px;
	margin: 0;
}

.jetpack-module > h3 {
	font-size: 1.8em;
}

.jetpack-module .module_tags {
	
}

.jetpack-module .module_tags li {
	display: inline;
}

.jetpack-module .module_tags li:after {
	content: ',';
	display: inline;
}

.jetpack-module .module_tags li:last-child:after {
	content: '';
	display: none;
}

.jetpack-module .more-info {
	display: none;
	margin: 0 0 5px;
	background: none;
	background-color: transparent !important;
	border: none !important;
	height: auto;
	box-shadow: none !important;
}

.jetpack-module .row-actions {
	overflow: hidden;
	position: absolute;
	bottom: 10px;
	left: 15px;
	margin: 0;
}

.jetpack-module:hover .row-actions {
	visibility: visible;
}

.jetpack-module.unavailable .row-actions {
	display: none;
}

.jetpack-module .row-actions li {
	float: left;
	margin-right: 0.5em;
}

/**
 * Lightbox Hijinks Ensue
 * jQuery( document.body ).addClass('jetpack-lb').append('<div class="jetpack-light-box-wrap"><div class="jetpack-light-box">Foo</div></div>');
 */

.jetpack-lb #wpwrap {
	-webkit-filter: grayscale( 100% );
	   -moz-filter: grayscale( 100% );
	    -ms-filter: grayscale( 100% );
	     -o-filter: grayscale( 100% );
	        filter: grayscale( 100% );
	-webkit-transition: -webkit-filter 0.5s;
	   -moz-transition:    -moz-filter 0.5s;
	    -ms-transition:     -ms-filter 0.5s;
	     -o-transition:      -o-filter 0.5s;
	        transition:         filter 0.5s;
}

.jetpack-light-box-wrap {
	display: none;
}
.jetpack-lb .jetpack-light-box-wrap {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9001;
	padding-top: 10%;
	background: rgba( 255, 255, 255, 0.5 );
}

.jetpack-light-box {
	width: 70%;
	max-width: 500px;
	max-height: 70%;
	margin: 0 auto;
	border: 3em solid #fff;
	background: #fff;
	box-shadow: 0 7px 20px rgba( 0, 0, 0, 0.3 );
}

.jetpack-light-box div.jp-info-img {
	float: right;
	border: 10px solid #eee;
	margin: 0 0 1em 1em;
}